<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous">
<body>
<form th:action="@{/create/save}" th:object="${song}"
      method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Id</label>
        <input type="text" th:field="*{id}" class="form-control" id="ids" aria-describedby="idSong">

    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"> Name</label>
        <input type="text" th:field="*{name}" class="form-control" id="lastName" aria-describedby="name">
        <div th:errors="*{name}"></div>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"> Artist</label>
        <input type="text" th:field="*{artist}" class="form-control" id="firstName" aria-describedby="artist">
        <div th:errors="*{artist}"></div>

    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Type</label>
        <input type="text" th:field="*{type}" class="form-control" id="exampleInputEmail1" aria-describedby="phone">
        <div th:errors="*{type}"></div>

    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</html>