<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer List</title>
    <th:block th:replace="~{fragment::css}"></th:block>

</head>
<body>
<nav th:replace="~{fragment::header}"></nav>

<div class="container" th:replace="~{fragment::color}"></div>
<div class="container text-center">
    <div class="col-lg-12 text-success" th:text="${success}">
    </div>

    <form class="d-flex" role="search" style="margin-bottom: auto; height: 38px;"
          th:action="@{/contract}">
        <label><input class="form-control me-2" type="search" placeholder="Search"
                      name="nameFind"></label>
        <button class="btn ms-1" type="submit">
            Search
        </button>
    </form>
    <div class="row"><h2>Contract List</h2></div>
    <div class="row">
                <table class="table table-striped table-hover mt-2">
                    <tr>
                        <th>No.</th>
                        <th>Service</th>
                        <th>Customer</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Deposit</th>
                        <th>Total Money</th>
                        <th colspan="3">Attach Facility</th>

                    </tr>

                    <tr th:each="row, number : ${contracts}">
                        <td th:text="${number.count}"></td>
                        <td th:text="${row.facility.name}"></td>
                        <td th:text="${row.customer.name}"></td>
                        <td th:text="${row.startDay}"></td>
                        <td th:text="${row.endDay}"></td>
                        <td th:text="${row.deposit}"></td>
                        <td></td>
                        <td></td>

                        <td>
                            <button type="button" class="btn btn-primary me-3" data-bs-toggle="modal"
                                    data-bs-target="#addContact2">
                                +
                            </button>
                        </td>
                        <td>
                            <button id="attachFacilityList" th:attr="onclick=|attachList('${row.id}')|"
                                    type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#includedServices">
                                Danh sách các dịch vụ đi kèm
                            </button>
                        </td>
                        <td>
                            <a type="button" class="btn btn-primary me-3" th:href="@{/contract/create}">
                                Create
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary me-3" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" onclick="infoDelete(this.value)">
                                Delete
                            </button>
                        </td>
                    </tr>
                </table>

        <div class="row">
            <div class="col">
                <ul class="pagination justify-content-end">
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{/customer(page=${contracts.number - 1}, keyword = ${nameFind})}"
                           th:if="${contracts.hasPrevious()}">
                            Previous
                        </a>
                    </li>
                    <li class="page-item active" aria-current="page">
                                            <span class="page-link">
                                                <th:block th:text="${contracts.number + 1}"></th:block>
                                                /
                                                <th:block th:text="${contracts.totalPages}"></th:block>
                                            </span>

                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{/customer(page=${contracts.number + 1}, keyword = ${nameFind})}"
                           th:if="${contracts.hasNext()}">
                            Next
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--them moi hop dong-->
<form action="/contract/add" method="post">
    <div class="modal fade" id="addContract" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-success" id="addEmployee1">Thêm mới hợp đồng</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="text-success">Dịch vụ</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label class="text-success">Khách hàng</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="startday" class="form-label text-success">Ngày bắt đầu </label>
                        <input type="date" class="form-control" id="startday" name="startday">
                    </div>
                    <div class="form-group">
                        <label for="startday" class="form-label text-success">Ngày bắt đầu </label>
                        <input type="date" class="form-control" id="endday" name="endday">
                    </div>
                    <div class="form-group">
                        <label class="text-success">Tiền đặt cọc</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label class="text-success">Tổng tiền</label>
                        <input type="text" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-success">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--modal-->
<div class="modal fade" id="addContact2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dịch vụ đi kèm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <table class="table table-striped">
                        <tr>
                            <th>Tên dịch vụ đi kèm</th>
                            <th>Đơn vị</th>
                            <th>Giá tiền</th>
                            <th>Số lượng</th>

                        </tr>
                        <tr>
                            <td><input type="checkbox">Karaoke</td>
                            <td>Giờ</td>
                            <td>10000</td>
                            <td><input style="width: 70px" type="number"></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox">Thuê xe máy</td>
                            <td>Giờ</td>
                            <td>10000</td>
                            <td><input style="width: 70px" type="number"></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox">Thuê xe đạp</td>
                            <td>Giờ</td>
                            <td>20000</td>
                            <td><input style="width: 70px" type="number"></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox">Buffer Buổi sáng</td>
                            <td>Giờ</td>
                            <td>15000</td>
                            <td><input style="width: 70px" type="number"></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox">Buffer Buổi trưa</td>
                            <td>Giờ</td>
                            <td>90000</td>
                            <td><input style="width: 70px" type="number"></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox">Buffer Buổi tối</td>
                            <td>Giờ</td>
                            <td>16000</td>
                            <td><input style="width: 70px" type="number"></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-primary">Thêm</button>
            </div>
        </div>
    </div>
</div>

<!--modal danh sach dich vu di kem-->
<div class="modal fade" id="includedServices" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditLable">Danh sách dịch vụ đi kèm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container-fluid">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên dịch vụ đi kèm</th>
                        <th>Giá tiền</th>
                        <th>Đơn vị</th>
                        <th>Trạng thái</th>
                        <th>Số lượng</th>
                    </tr>
                    </thead>
                    <tbody id="bodyContract"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Modal Create 2.9-->
<form th:action="@{/contract/create}" method="post" th:object="${contractCreate}">
    <div class="modal fade" id="exampleModalCreate" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelCreate">Create New Contract</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="display: grid">
                    <table>
                        <tr>
                            <td>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text">Start Date</span>
                                    <input type="date" class="form-control" required th:field="*{startDay}">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text">End Date</span>
                                    <input type="date" class="form-control" required th:field="*{endDay}">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text">Deposit</span>
                                    <input type="text" class="form-control" required th:field="*{deposit}">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text">Total Money</span>
                                    <input type="text" readonly class="form-control" required>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text">Customer</span>
                                    <label style="width: 100%">
                                        <select class="form-select" th:field="*{customer}">
                                            <option th:each="item : ${customers}" th:value="${item.customerId}"
                                                    th:text="${item.name}"></option>
                                        </select>
                                    </label>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text">Facility</span>
                                    <label style="width: 100%">
                                        <select class="form-select" th:field="*{facility}">
                                            <option th:each="item : ${facilities}" th:value="${item.facilityId}"
                                                    th:text="${item.name}"></option>
                                        </select>
                                    </label>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <img src="https://cdn-icons.flaticon.com/png/512/1550/premium/1550598.png?token=exp=1659608134~hmac=8c47d172118df42573f1e8d264367572"
                                         alt="" width="30px" height="30px">
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">
                        <img src="https://cdn-icons.flaticon.com/png/512/1550/premium/1550599.png?token=exp=1659608231~hmac=34fc27f117472e8ccd1dfd17696a088e"
                             alt="" width="30px" height="30px">
                    </button>
                    <button type="submit" class="btn" value="Create">
                        <img src="https://cdn-icons.flaticon.com/png/512/1550/premium/1550598.png?token=exp=1659608134~hmac=8c47d172118df42573f1e8d264367572"
                             alt="" width="30px" height="30px">
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Modal List -->
<form th:action="@{/contract}" method="get">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">...</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">
                        <img src="https://cdn-icons.flaticon.com/png/512/1550/premium/1550599.png?token=exp=1659608231~hmac=34fc27f117472e8ccd1dfd17696a088e"
                             alt="" width="30px" height="30px">
                    </button>
                    <button type="submit" class="btn" value="Delete">
                        <img src="https://cdn-icons-png.flaticon.com/512/7951/7951990.png" alt="" width="30px"
                             height="30px">
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="/js/jquery-3.6.1.min.js"></script>
<script>
    function attachList(id) {
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/contractRest/attachFacility?id=" + id,
            success: function (contracDetail) {
                console.log(contracDetail);
                let htmlStr = '';
                for (let i = 0; i < contracDetail.length; i++) {
                    htmlStr += `<tr>
                        <td>${i + 1}</td>
                        <td>${contracDetail[i].attachFacility.nameAttachFacility}</td>
                        <td>${contracDetail[i].attachFacility.cost}</td>
                        <td>${contracDetail[i].attachFacility.unit}</td>
                        <td>${contracDetail[i].attachFacility.status}</td>
                        <td>${contracDetail[i].amount}</td>
                    </tr>`;
                }

                $("#bodyContract").html(htmlStr);
                console.log(htmlStr);
            },
            error: function (resultError) {
                console.log("ngu")
            }
        });
    }
</script>

<footer th:replace="~{fragment:: footer}"></footer>
</body>
<th:block th:replace="~{fragment::js}"></th:block>
</html>