<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns: lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{html-css :: bootstrapCss}"></th:block>

</head>
<body>
<header>
    <div class="p-3 text-center bg-image"
         style="height: 150px;">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-success">
                    <h1 class="mb-3">List Book In Library</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <nav class="navbar navbar-light bg-info">
            <div class="container-fluid">
                <h5 class="navbar-brand">List Book: </h5>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" name="search"
                           placeholder="Search By Name" th:value="${searchName}" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit" name="name">Search</button>
                </form>
            </div>
        </nav>
    </div>
</header>
<section class="page-section" id="home">
    <div class="container mt-3">
        <table class="table table-hover">
            <thead>
            <tr style="background-color: #f4623a" class="text-light">
                <th>ID</th>
                <th>Name</th>
                <th>Code</th>
                <th>Status</th>
                <th>Borrow</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item,loop : ${bookList}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.library.name}"></td>
                <td th:text="${item.bookCode}"></td>
                <td th:if="${item.status == true}">
                    <span>Used</span>
                </td>
                <td th:if="${item.status == false}">
                    <span>Ready</span>
                </td>
                <td>
                    <!-- Button trigger modal -->
                    <span th:if="${item.status == true}">
                    <button type="button" class="btn btn-outline-secondary disabled text-decoration-line-through">
                        Borrow
                    </button>
                </span>
                    <span th:if="${item.status == false}">
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                            th:data-bs-target="'#staticBackdrop' + ${item.id}">
                        Borrow
                    </button>
                </span>

                    <!-- Modal -->
                    <div class="modal fade" th:id="staticBackdrop + ${item.id}" data-bs-backdrop="static"
                         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Borrow Book</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Do you want borrow book <span th:text="${item.library.name}"></span> with code = <span
                                        th:text="${item.bookCode}"></span> ?
                                </div>
                                <div class="modal-footer">
                                    <a th:href="@{/library/borrow(id=${item.id})}" class="btn btn-outline-success">Access</a>
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="container-fluid mt-3">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item active" ><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
    </div>
</section>
<th:block th:replace="~{html-css :: boostrapScript}"></th:block>

</body>
</html>