<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer List</title>
    <th:block th:replace="~{fragment::css}"></th:block>

</head>
<body>
<nav th:replace="~{fragment::header}"></nav>

<div class="container" th:replace="~{fragment::color}"></div>
<div class="container text-center">
    <div class="col-lg-12 text-success" th:text="${message}">
    </div>
    <div class="row"><h2>Customer List</h2></div>
    <div class="row">
        <div class="col-lg-4">

                <a class="text-black" th:href="@{/customer/showCreate}" style="text-decoration: none;">
                    Add new customer
                </a>

        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form action="/customer">
                <div class="input-group mb-3">
                    <input
                            type="text"
                            class="form-control"
                            aria-describedby="button-addon2"
                            name="keyword"
                    />
                    <button class="btn btn-outline-primary" type="submit" id="button-addon2"
                            data-mdb-ripple-color="dark">
                        Search
                    </button>
                </div>

            </form>
        </div>

    </div>


    <div class="row">
        <div class="col">
            <table class="table table-striped">

                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Birthday</th>
                    <th>Gender</th>
                    <th>ID Card</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Type</th>
                    <th colspan="4">Action</th>

                </tr>

                <tr th:each="customer,loop : ${customerList}">

                    <th scope="row" th:text="${loop.count}"></th>

                    <td th:text="${customer.name}"></td>
                    <td th:text="${customer.birthday}"></td>
                    <td th:if="${customer.gender}">Male</td>
                    <td th:unless="${customer.gender}">Female</td>
                    <td th:text="${customer.idCard}"></td>
                    <td th:text="${customer.phoneNumber}"></td>
                    <td th:text="${customer.email}"></td>
                    <td th:text="${customer.address}"></td>
                    <td th:text="${customer.customerType.name}"></td>


                    <td>
                        <button type="button" class="btn btn-primary "><a th:href="@{/showUpdate(id=${customer.customerId})}"
                                                                          class="text-white "
                                                                          style=" text-decoration: none">edit</a>
                        </button>
                    </td>


                    <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal"

                                th:attr="onclick=|showModalDelete('${customer.id}','${customer.name}')|">

                            Delete
                        </button>
                    </td>
                </tr>

            </table>
        </div>
    </div>

<div class="row">
    <div class="col">
        <ul class="pagination justify-content-end">
            <li class="page-item">
                <a class="page-link"
                   th:href="@{/customer(page=${customerList.number - 1}, keyword = ${keyWordValue})}"
                   th:if="${customerList.hasPrevious()}">
                    Previous
                </a>
            </li>
            <li class="page-item active" aria-current="page">
                                            <span class="page-link">
                                                <th:block th:text="${customerList.number + 1}"></th:block>
                                                /
                                                <th:block th:text="${customerList.totalPages}"></th:block>
                                            </span>

            </li>
            <li class="page-item">
                <a class="page-link"
                   th:href="@{/customer(page=${customerList.number + 1}, keyword = ${keyWordValue})}"
                   th:if="${customerList.hasNext()}">
                    Next
                </a>
            </li>
        </ul>
    </div>
</div>
</div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="/delete" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Notification </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body container-fluid">
                    You want to delete Customer: <span id="delete_modal"></span>
                    <input type="hidden" id="sendId" name="id">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>

                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function showModalDelete(deleteModalValue, showModal) {
        document.getElementById("delete_modal").innerText = showModal;
        document.getElementById("sendId").value = deleteModalValue;

    }
</script>

<footer th:replace="~{fragment:: footer}"></footer>

</body>
<th:block th:replace="~{fragment::js}"></th:block>
</html>