<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns: lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{html-css :: bootstrapCss}"></th:block>
</head>
<body>
<div class="container mt-3">
    <h2>Detail</h2>
    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <td th:text="${product.id}"></td>
        </tr>
        <tr>
            <th>Title</th>
            <td th:text="${product.name}"></td>
        </tr>
        <tr>
            <th>Name</th>
            <td th:text="${product.color}"></td>
        </tr>
        <tr>
            <th>Content</th>
            <td th:text="${product.manufacturer}"></td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="/products" class="btn btn-outline-secondary">Back home</a>
            </td>
        </tr>
    </table>
</div>
<th:block th:replace="~{html-css :: boostrapScript}"></th:block>
</body>
</html>