<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns: lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{html-css :: bootstrapCss}"></th:block>
</head>
<body>
<header>
    <div class="p-5 text-center bg-image"
         style="height: 200px;">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-success">
                    <h1 class="mb-3">Product Management</h1>
                    <a href="" th:href="@{/products/create}" class="btn btn-outline-success btn-lg" role="button">Create Product</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <h5 class="navbar-brand">List Products : </h5>
                <form class="d-flex" action="/products">
                    <input class="form-control me-2" type="search" name="keyword" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit" name="name">Search</button>
                </form>
            </div>
        </nav>
    </div>
</header>

<div class="container mt-3">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>CN</th>
            <th>ID</th>
            <th>Name</th>
            <th>Color</th>
            <th>Manufacturer</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Detail</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p, loop : ${product}">
            <td th:text="${loop.count}"></td>
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.color}"></td>
            <td th:text="${p.manufacturer}"></td>
            <td>
                <a href="" th:href="@{/products/edit/{id}(id=${p.id})}" class="btn btn-outline-warning">Edit</a>
            </td>
            <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                        th:data-bs-target="'#staticBackdrop' + ${p.id}">
                    Delete
                </button>

                <!-- Modal -->
                <div class="modal fade" th:id="staticBackdrop + ${p.id}" data-bs-backdrop="static"
                     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-danger" id="staticBackdropLabel">Warning!</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Do you want delete product <span th:text="${p.name}" class="text-warning"></span>
                                with id = <span th:text="${p.id}" class="text-warning"></span> ?
                            </div>
                            <div class="modal-footer">
                                <a href="" th:href="@{/products/delete/{id}(id=${p.id})}"
                                   class="btn btn-outline-success">Delete</a>
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <a href="" th:href="@{/products/details/{id}(id=${p.id})}" class="btn btn-outline-success">Detail</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<th:block th:replace="~{html-css :: boostrapScript}"></th:block>
</html>